<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/">
        <img src="/img/logo.png">
      </a>
    </div>
    <div class="header__actions">
      <div class="dropdown">
        <a class="dropdown__button" href="/documentation">Docs</a>
        <div class="dropdown__content docs">
          {{- range .Site.Data.links.docs }}
          {{- if .url }}
          <a href="{{ .url }}">{{ .name }}</a>
          {{- else }}
          <a href="{{ .localUrl }}">{{ .name }}</a>
          {{- end }}
          {{- end }}
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown__button" href="https://github.com/opentracing">Github</a>
        <div class="dropdown__content language">
          {{- range .Site.Data.language.array }}
          <a href="{{ .url }}">{{ .name }}</a>
          {{- end }}
          <hr/>
          <a href="https://github.com/opentracing-contrib/meta">Contributions</a>
        </div>
      </div>

      <div class="dropdown no-link">
        <a class="dropdown__button">Community</a>
        <div class="dropdown__content docs">
          {{- range .Site.Data.links.community }}
          {{- if .url }}
          <a href="{{ .url }}">{{ .name }}</a>
          {{- else }}
          <a href="{ .localUrl }}">{{ .name }}</a>
          {{- end }}
          {{- end }}
        </div>
      </div>

      <div class="dropdown">
        <a class="dropdown__button" href="/documentation">Getting Started</a>
        <div class="dropdown__content docs">
          {{- range .Site.Data.links.gettingStarted }}
          {{- if .url }}
          <a href="{{ .url }}">{{ .name }}</a>
          {{- else }}
          <a href="{{ .localUrl }}">{{ .name }}</a>
          {{- end }}
          {{- end }}
        </div>
      </div>

      <a href="https://medium.com/opentracing">Blog</a>
    </div>
    <div class="header__actions right">
      <a class="button white" href="https://groups.google.com/forum/#!forum/opentracing">Join the mailing list</a>
    </div>
  </div>

  <div class="header__container__mobile">
    <div class="header__logo">
      <a href="http://opentracing.io">
        <img src="/img/logo.png">
      </a>
    </div>
    <div class="header__hamburger__button">☰</div>
    <div class="dropdown__content mobile">
      <div class="header__close__button">✕</div>

      <h3>Docs</h3>
      {{- range .Site.Data.links.docs }}
      {{- if .url }}
      <a href="{{ .url }}">{{ .name }}</a>
      {{- else }}
      <a href="{{ .localUrl }}">{{ .name }}</a>
      {{- end }}
      {{- end }}

      <h3>GitHub</h3>
      {{- range .Site.Data.language.array }}
      <a href="{{ .url }}">{{ .name }}</a>
      {{- end }}
      <hr/>

      <h3>Community</h3>
      {{- range .Site.Data.links.community }}
      {{- if .url }}
      <a href="{{ .url }}">{{ .name }}</a>
      {{- else }}
      <a href="{ .localUrl }}">{{ .name }}</a>
      {{- end -}}
      {{- end -}}

      <h3>Getting started</h3>
      {{- range .Site.Data.links.gettingStarted }}
      {{- if .url }}
      <a href="{{ .url }}">{{ .name }}</a>
      {{- else }}
      <a href="{ .localUrl }}">{{ .name }}</a>
      {{- end -}}
      {{- end -}}
      <a href="https://github.com/opentracing-contrib/meta">Contributions</a>

      <hr/>
      <h3>Mailing list</h3>
      <a href="https://groups.google.com/forum/#!forum/opentracing">Join!</a>
    </div>
  </div>
</header>

<script type="text/javascript">

var _mobileMenuVisible = false;
var _mobileMenuContent = document.querySelector('.header__container__mobile');
var _openButton = document.querySelector('.header__hamburger__button');
var _closeButton = document.querySelector('.header__close__button');

function setState(state, classList) {
  _mobileMenuContent.setAttribute('class', classList);
  _mobileMenuVisible = state;
}

_openButton.addEventListener('click', function() {
  var classes = _mobileMenuContent.getAttribute('class')

  if(!_mobileMenuVisible) {
    setState(true, classes + ' active ');
  }
})

_closeButton.addEventListener('click', function() {
  var classes = _mobileMenuContent.getAttribute('class')

  if(_mobileMenuVisible) {
    setState(false, classes.replace(' active ', '') );
  }
})

</script>
