<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128661814-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128661814-1');
</script>

<meta name="robots" content="noindex, nofollow">

{{- $keywords := .Params.keywords -}}
{{ with $keywords }}<meta property="keywords" content="{{ delimit . ", " }}" />{{ end }}

<!-- OpenGraph -->
<meta property="og:title" content="{{ .Title }}" />
{{ with .Description }}<meta property="og:description" content="{{ . }}" />{{ end }}
{{ $type := cond (isset .Params "type") .Params.type "website" }}<meta proerty="og:type" content="{{ $type }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<!-- schema.org -->
<meta itemprop="name" content="{{ .Title }}">
{{ with .Description }}<meta itemprop="description" content="{{ . }}" />{{ end }}
{{ with $keywords }}<meta itemprop="keywords" content="{{ delimit . ", "}}" />{{ end }}
<meta itemprop="wordCount" content="{{ .WordCount }}" />

<!-- Twitter Cards -->
<meta name="twitter:title" content="{{ .Title }}"/>
