@import '../variables';

.docs {
  display: block;
  min-width: 100%;

  &__main {
    margin: $docs-vertical-margin 0;

    .docs__nav {
      top: 100;
      border-right: 1px solid grey;

      &__list {
        max-width: 90%;

        ul {
          list-style-type: none;
          margin: 1rem 0 0 -2.5rem;

          li {
            a {
              color: $docs-nav-link-color;
              font-size: $docs-nav-link-font-size;
              line-height: 110%;
            }

            & + li {
              margin-top: .75rem;
            }
          }
        }
      }
    }

    .docs__article {
      padding: 0 $docs-article-horizontal-padding;

      &__content {
        figure {


          img {

          }
        }
      }
    }
  }
}
