@import '../variables';

$hero-height: 75vh;


.hero {
  margin-top: -80px;
  width: 100vw;
  background: $blue;
  min-height: 650px;
  max-height: 1000px;
  height: $hero-height;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  position: relative;

  &.page-not-found {
    min-height: 100vh;
  }

  &__content {
    flex-wrap: wrap;
    height: $hero-height;
    max-width: $max-width - 100px;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0 2rem;
  }

  &__figure {
    max-width: 350px;
    margin-right: 2rem;
  }

  &__copy {
    max-width: 600px;
    flex: 1;

    .libraries {
      h2 {
        font-family: 'bariolthin';
        font-weight: 600;
        display: inline-block;
        border-top: 1px solid rgba(white, 0.25);
        padding-top: 20px;
        margin-top: 10px;
        font-size: 1.74rem;
      }
      margin-bottom: 45px;

      a {
        font-size: 1.2rem;
      }
    }

    a {
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }

  &:after {
    content: '';
    width: 200%;
    height: 200%;
    top: 0;
    right: 0;
    position: absolute;
    background: $dark-blue;
    transform-origin: top right;
    transform: rotate(-40deg);
    z-index: 1;
  }

  @media (max-width: $medium) {

    &__content {
      //padding: 20vh 0;
    }

    .bash-window {
      display: none;
    }
  }
}
