

// Global variables
$header-padding: 1.25rem;
$max-width: 1300px;


// Colors
$blue-black: #26324c;
$blue:  #45c1de;
$dark-blue: #39a9da;
$blue-text:  #45c1de;
$darker-blue: #4098c8;
$logo-dark-blue: #0979b9;
$red: #fa5d55;
$orange: #fab92d;
$green: #26c53e;


// Breakpoints
$xlarge: 1400px;
$large: 1000px;
$medium: 768px;
$small: 500px;
$xsmall: 400px;

//Documentation
$docs-vertical-margin: 4rem;
$docs-article-horizontal-padding: 2rem;
$docs-nav-link-color: $dark-blue;
$docs-nav-link-font-size: 1.3rem;
