@import '_vendor/normalize';

@import 'variables';
@import 'elements';
@import 'typography';
@import 'fonts';

@import '_elements/img';

@import '_components/documentation';
@import '_components/header';
@import '_components/footer';
@import '_components/hero';
@import '_components/bash-window';
@import '_components/logo-bar';
@import '_components/videos';
@import '_components/markup';
@import '_components/why';
@import '_components/companies';
@import '_components/cncf-foundation';
@import '_components/button';

@import "../../node_modules/bootstrap/scss/bootstrap";

.footer {
  &__section {
    padding: .6rem 0 .6rem 1.25rem;
  }

  a {
    color: white;
    margin: 0;
    padding: 0;

    & + a {
      margin-top: .25rem;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}
