@import '_vendor/normalize';

@import 'variables';
@import 'elements';
@import 'typography';
@import 'fonts';

@import '_elements/img';

@import '_components/header';
@import '_components/footer';
@import '_components/hero';
@import '_components/bash-window';
@import '_components/logo-bar';
@import '_components/videos';
@import '_components/markup';
@import '_components/why';
@import '_components/companies';
@import '_components/cncf-foundation';
@import '_components/button';
