<section class="bash-window">
  <header class="bash-window__header">
    <div class="bash-window__header__button__red"></div>
    <div class="bash-window__header__button__orange"></div>
    <div class="bash-window__header__button__green"></div>
    <div class="bash-window__header__title">bash</div>
  </header>

  <div class="bash-window__content">
    <pre>
# Start Jaeger locally
$ docker run -d -p 5775:5775/udp -p 16686:16686 jaegertracing/all-in-one:latest
$ export DOCKER_IP=`docker-machine ip $(docker-machine active)`
$ cd $GOPATH/src

# Grab a simple, self-contained OpenTracing example
$ go get github.com/opentracing-contrib/examples/go
$ cd github.com/opentracing-contrib/examples/go
$ go run ./trivial.go $DOCKER_IP

# Visualize the tracing instrumentation in Jaeger by
# clicking on "Find Traces" in the UI.
$ open http://$DOCKER_IP:16686/

# Read the source!
$ vim trivial.go
    </pre>

  </div>
</section>

