<head>
  <title>opentracing.io {% if page.url != '/index.html' %} | {{page.title}}{% endif %}</title>
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='{{site.url}}/css/main.css' rel='stylesheet' />
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{site.url}}img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.url}}img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.url}}/img/manifest.json">
  <link rel="mask-icon" href="{{site.url}}/img/safari-pinned-tab.svg" color="#5bbad5 ">
  <meta name="theme-color" content="#ffffff ">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79528055-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
