<section class="hero landing-page">
  <div class="hero__content">

    {% include bash-window.html %}

    <section class="hero__copy">
      <a href="https://medium.com/opentracing/february-2018-opentracing-monthly-newsletter-7700560e9b04" target="_blank">February 2018: OpenTracing Project Update</a>
      <h1 class="bariol-thin">A vendor-neutral open standard for distributed tracing.</h1>
      <h2 class="dark-blue">Libraries available in {{ site.data.language.array.size }} languages</h2>
      <p class="dark-blue">
      {% for language in site.data.language.array %}
        <a href="{{language.url}}">{{ language.name }}</a>{% if forloop.last == false %},{% endif %}
      {% endfor %}
      </p>
    </section>
  </div>

  {% include logo-bar.html %}
</section>

