<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}">
          <img style="width: 70%; margin-left: auto; margin-right: auto;" src="/public/open_tracing.png"/><br/>
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for page in site.core_pages_list %}
        <a class="sidebar-nav-item{% if page[1] == node.url %} active{% endif %}" href="{{ page[1] }}">{{ page[0] }}</a>
      {% endfor %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">View on GitHub</a>

      <div class="sidebar-group">For users</div>
      {% for page in site.user_pages_list %}
        <a class="sidebar-nav-item{% if page[1] == node.url %} active{% endif %}" href="{{ page[1] }}">{{ page[0] }}</a>
      {% endfor %}

      <div class="sidebar-group">For implementors</div>
      {% for page in site.implementor_pages_list %}
        <a class="sidebar-nav-item{% if page[1] == node.url %} active{% endif %}" href="{{ page[1] }}">{{ page[0] }}</a>
      {% endfor %}

      <!-- 
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> 
      -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
