<section class="window">
  <header class="window__header">
    <div class="window__header__button__red"></div>
    <div class="window__header__button__orange"></div>
    <div class="window__header__button__green"></div>
    <div class="window__header__title">bash</div>
  </header>

  <div class="window__content">
    <pre>
$ docker run --rm -ti -p 8080:8080 -p 8700:8700 opentracing/opentracing-quickstart-example
$ cd $GOPATH
$ go get https://git.io/vPGWi
$ go run https://git.io/vPGW1
$ open http://localhost:8700/
    </pre>

  </div>
</section>

