$h1-font-size: 3.3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$p-font-size: 1.2rem;

html {
  font-size: 100%;
  //transition: font-size 500ms;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

h1 { font-size: $h1-font-size; font-weight: 500; margin: $h1-font-size*0.25 0;}
h2 { font-size: $h2-font-size; margin: $h2-font-size*0.25 0; }
h3 { font-size: $h3-font-size; margin: $h3-font-size*0.25 0; }
h4 { font-size: $h4-font-size; margin: $h4-font-size*0.25 0; }

p, ul {
  font-size: $p-font-size;
  line-height: $p-font-size + 0.5;
  margin: $h4-font-size*0.25 0;
}

pre {
  text-align: left;
}

.bariol-thin {
  font-family: bariolthin;
}

.bariol-light {
  font-family: bariol_lightlight;
}

small {
  h1 { font-size: $h1-font-size * 0.75; }
  h2 { font-size: $h2-font-size * 0.75; }
  h3 { font-size: $h3-font-size * 0.75; }
  h4 { font-size: $h4-font-size * 0.75; }
  p { font-size: $p-font-size * 0.75; }

}

big {
  h1 { font-size: $h1-font-size * 1.25; }
  h2 { font-size: $h2-font-size * 1.25; }
  h3 { font-size: $h3-font-size * 1.25; }
  h4 { font-size: $h4-font-size * 1.25; }
  p { font-size: $p-font-size * 1.25; }
}


@media (max-width: $large) {
  html {
    font-size: 85%;
  }
}

@media (max-width: $medium) {
  html {
    font-size: 80%;
  }
}

@media (max-width: $small) {
  html {
    font-size: 75%;
  }
}

@media (max-width: $xsmall) {
  html {
    font-size: 70%;
  }
}
