

//Global variables
$header-padding: 1.25rem;
$max-width: 1300px;


//Colors
$blue-black: #26324c;
$blue: #70b7d5;
$dark-blue: #5ea7d1;
$darker-blue: #4098c8;
$logo-dark-blue: #0979b9;
$dark-purple: #2e354f;


//Breakpoints
$xlarge: 1400px;
$large: 1000px;
$medium: 768px;
$small: 500px;
$xsmall: 400px;
