<section class="why">
  <section class="why__section why-tracing">
    <div class="why__content">
      <h2>Why OpenTracing?</h2>
      <a class="button" href="https://medium.com/opentracing/towards-turnkey-distributed-tracing-5f4297d1736">Learn about our design principles</a>
    </div>
  </section>

  <section class="why__section app-developer">
    <img class="why__figure" src="/img/app_developer.png" alt="">
    <div class="why__content">
      <h4>App developer?</h4>
      <p>Get started instrumenting your code with OpenTracing.</p>
      <a class="button" href="/documentation">Let's go!</a>
    </div>
  </section>

  <section class="why__section framework-developer">
    <img class="why__figure" src="/img/framework_developer.png" alt="">
    <div class="why__content">
      <h4>Framework developer?</h4>
      <p>Add OpenTracing to your open source project and help your users in the process.</p>
      <a class="button" href="/documentation/instrumentation/instrumenting-frameworks">Get started!</a>
    </div>
  </section>
</section>
