@import '../variables';

$line-width: 30%;

.footer {
  background: $blue-black;
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none;

  &__container {
    max-width: $max-width;
    display: flex;
    padding: 2.5rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__section {
    &.documentation {
      flex: 2;
      width: 200px;
    }

    &.form {
      flex: 2;
      text-align: center;
    }

    &.resources {
      flex: 1;
      width: 200px;
    }

    &.ecosystem {
      flex: 1;
      width: 200px;
    }

  }

  &__subtitle {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;

    &:not(.no-line):after {
      position: relative;
      content:'';
      display: block;
      height: 1px;
      margin: 15px 0;
      width: $line-width;
      background: rgba(white, 0.5);
    }

    &.full-width-line:after {
      margin-left:  calc( (100% - #{ $line-width }) / 2);
      margin-right: calc( (100% - #{ $line-width }) / 2);
    }

    .resources &,
    .ecosystem & {
      text-align: right;

      &:after {
        margin-left: 100% - $line-width;
      }
    }
  }

  &__social_icons {
    max-width: 200px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(white, 0.5);
    padding-bottom: 20px;

    img {
      flex-grow: 1;
      height: 25px;
      max-height: 25px;
      flex-direction: row;
    }
  }

  &__social_newsletter {
    color: white;
  }

  &__actions {
    color: white;
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    .resources &,
    .ecosystem & {
      align-items: flex-end;
    }

    a {
      font-size: 1rem;
      font-family: 'bariolthin';
      letter-spacing: 1px;
      padding: 5px 5px;
      text-transform: capitalize;
    }
  }

  @media (max-width: $medium) {
    &__container {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &__actions {

      align-items: center;
      .resources &,
      .ecosystem & {
        align-items: center;
      }

      a {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 15px 5px;
      }
    }

    &__subtitle {
      font-size: 1.75rem;
      margin-top: 4rem;
      width: 100%;

      .resources &,
      .ecosystem & {
        text-align: center;
      }

      &:not(.no-line):after {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }

    .documentation {
      order: 1;
    }

    .form {
      order: 0;
    }

    .resources {
      order: 2;
    }

    .ecosystem {
      order: 3;
    }
  }

  @media (min-width: $large) {
    .documentation {
      flex: 2;
    }

    &__actions {
      max-height: 200px;

      .documentation & {
        max-height: 100px;
      }

      .ecosystem  & {
        max-height: 125px;
      }
    }
  }
}