@import '../variables';

.why {
  margin: 15vh auto 5vh auto;
  width: 100vw;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  padding: 0 5vw;
  min-height: 300px;
  flex-wrap: wrap;
  font-family: 'bariolthin';

  &__section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;

    &.why-tracing {
      flex: 3;
      text-align: center;
      align-items: center;
    }
  }

  &__figure {
    flex: 1;
    max-width: 50px;
    margin-right: 40px;
  }

  &__content {
    flex: 3;

    p {
      font-size: 1rem;
    }

    h2 {
      color: $dark-blue;
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: $medium) {
    margin: 10vh auto;
    width: 80vw;
    flex-direction: column;

    .why-tracing {
      order: 1;
    }

    &__section {
      margin: 5vh auto;
      min-width: 100%;
      align-items: center;
      text-align: center;
      flex-direction: column;
      order: 2;
      flex: 1;
    }

    &__figure {
      margin-right: 0;
    }

    h2, h4, p {
      font-weight: 700;
    }

    h2 {
      color: $dark-blue;
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-size: 2rem;
    }

    a {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.5rem;
    }


  }
}
