{{ define "main" }}
{{- $filename := printf "/get-involved/%s.md" .Params.filename }}
<div class="docs container">
  <section class="docs__main row">
    <nav class="docs__nav col-3">
      <div class="docs__nav__list">
        <h3>Table of contents</h3>
        {{ partial "nav.html" (where .Site.RegularPages "Section" "get-involved") }}
      </div>
    </nav>

    <article class="docs__article col-9">
      <section class="docs__article__content">
        {{readFile $filename | markdownify }}
      </section>
    </article>
  </section>
</div>
{{ end }}
