---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="page-navigation">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}} ({{page.previous.date | date_to_string}})</a>
  {% else %}
  <a class="prev" href="#"></a>
  {% endif %}

  {% if page.next.url %}
  <a class="next" href="{{page.next.url}}">{{page.next.title}}  ({{page.next.date | date_to_string}})&raquo;</a>
  {% endif %}
</div>
