@import '../variables';

.docs {
  display: block;

  &__main {
    min-width: 100%;
    margin: $docs-vertical-margin 0;

    .docs__nav {
      top: 100;
      border-right: 1px solid grey;
      padding-bottom: 2%;
      height: 100%;

      &__list {
        max-width: 90%;

        ul {
          list-style-type: none;
          margin: 1rem 0 0 -2.5rem;

          li {
            a {
              color: $docs-nav-link-color;
              font-size: $docs-nav-link-font-size;
              line-height: 110%;
              
            }

            & + li {
              margin-top: .75rem;
            }
          }
        }
      }

      .submenu {
        label:after { content: '\25BF' }
        input:checked + label + ul { display: none; }
        li {
          margin-left: .75rem;
        }
      }
    }

    .docs__article {
      padding: 0 $docs-article-horizontal-padding;

      hr {
        margin: 1.5rem 0;
      }

      &--title + .docs__article--toc {
        margin-top: 1.25rem;
      }

      &--toc {
        ul {
          list-style-type: none;
          margin-left: -1.75rem;

          ul {
            list-style-type: square;

            ul {
              list-style-type: disc;

              ul {
                list-style-type: circle;

                ul {
                  list-style-type: square;
                }
              }
            }
          }
        }
      }

      &--content {
        h2 {
          margin-top: 2rem;
        }

        blockquote p {
          margin: 1.5rem 0;
          background-color: $light-grey;
          padding: 1rem;
        }

        table {
          width: 100%;
          margin: 1.5rem 0;

          thead {
            border-bottom: 1px solid $blue-black;
            font-size: 1.25rem;

            tr {
              th {
                font-size: 1.5rem;
                min-width: 15rem;
                padding: .5rem 0 0 0;
              }
            }
          }

          tbody {
            tr {
              &:hover {
                background-color: #f5f5f5;
              }

              border-bottom: 1px solid $blue-black;

              td {
                padding: .75rem 0;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
