@import '../variables';

$padding: 30px;
$list-padding: 10px;

.otelHeader:before {
  content: '';
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.otelHeader {
  padding-top: 15px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  background-color: #da3959;
  width: 100%
}

.otelHeader__content p {
  color: #ffffff;
  font-size: 1.4rem;
}

.otelHeader__content a {
  text-decoration: underline;
  color: #ffffff;
}

.header:before {
  content: '';
  width: 100%;
  height: 80px;
  top: 50;
  left: 0;
  display: block;
  position: absolute;
  background-color: $blue;
  z-index: -1;
}

.header--home:before {
  content: '';
  width: 100%;
  height: 80px;
  top: 50;
  left: 0;
  display: block;
  position: absolute;
  z-index: -1;
}

.header, .header--home {
  max-width: $max-width;
  padding: $header-padding;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none;
  font-family: 'bariolthin';

  .dropdown__content {
    a {
      color: $dark-blue !important;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    &__mobile {
      position: relative;
      display: none;
      .dropdown__content.mobile {
        display: none;
        opacity: 0;
      }

      &.active {
        .dropdown__content {
          opacity: 1;
          display: flex;
        }
      }
    }
  }

  &__hamburger__button {
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 3rem;
    margin-top: -10px;
  }

  &__close__button {
    cursor: pointer;
    top: 20px;
    right: 20px;
    position: absolute;
    text-align: right;
    clear: both;
    float: right;
    font-size: 30px;
  }

  &__logo {
    display: flex;
    max-width: 225px;
    align-items: center;

    img {
      vertical-align: text-top;
      background: transparent;
    }

  }

  &__actions {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    &.right {
      justify-content: flex-end;
      max-width: 300px;
    }

    a {
      letter-spacing: 1px;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 700;
      padding-left: 1.5rem;
    }
  }

  @media (max-width: 900px) {
    &__actions.right {
      display: none;
    }
  }

  @media (max-width: $small) {
    &__container {
      display: none;
    }
    &__container__mobile {
      display: flex;
    }
  }

  .dropdown:hover .dropdown__content {
    opacity: 1;
    pointer-events: all;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &.no-link {
      a {
        color: white;
      }
    }

    &__content {
      position: absolute;
      min-width: auto;
      left: -10px;
      display: flex;
      flex-direction: column;
      text-align: left;
      flex-wrap: wrap;
      margin-top: 10px;
      padding: ($padding - $list-padding) $padding;
      border-radius: 10px;
      border: 2px solid $dark-blue;
      background-color: white;
      box-shadow: 1px 1px 20px 0px rgba(black, 0.3);
      opacity: 0;
      transition: opacity 400ms;
      pointer-events: none;


      &.mobile {
        left: 0;
        right: 0;
        pointer-events: all;

        h3 {
          margin-top: 2rem;
          font-size: 2.5rem;
        }
        a {
          font-size: 1.7rem;
        }

        :before, :after {
          display: none;
        }
      }

      &.docs {
        min-width: 175px;
        flex-wrap: wrap;
      }

      &.language {
        min-width: 175px;
        flex-wrap: wrap;
      }

      a {
        font-family: 'bariol_regular';
        display: inline-block;
        font-size: 1rem;
        transition: 200ms;
        opacity: 0.7;
        padding: $list-padding 0;
        color: $dark-blue;
        text-transform: capitalize;

        &:hover {
          opacity: 1;
          color: $dark-blue;
        }
      }

      :before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 20px;
        background: transparent;
        display: block;
      }

      :after {
        content: '';
        position: absolute;
        top: -5px;
        padding-top: 10px;
        left: 40px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: white;
        display: block;
      }
    }
  }
}
