@import '../variables';

$logo-bar-scale: 14px;

.logo-bar {
  background: rgba(white, 0.1);
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
  flex: none;

  &--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__content {
    max-width: $max-width;
    display: flex;
    padding: 1rem 2.5rem 0.5rem 2.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__logos {
    max-width: $medium / 2;
    height: 75px;
    overflow-x: hidden;
    display: flex;
    flex: 1 auto;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;

    &:before {
      display: block;
      text-align: left;
      width: 100%;
      font-size: 0.9rem;
      opacity: 0.5;
      position: absolute;
      top: 10px;
      left: 0px;
    }

    &.tracers:before {
      content: 'Supported Tracers';
    }

    &.frameworks:before {
      content: 'Supported Frameworks';
    }

    a {
      flex-grow: 1;
      display: flex;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
      justify-content: center;
      min-width: 25%;
      transition: margin-left 750ms;

      &[href*="tracer"],
      &[href*="dropwizard"] {
        font-size: $logo-bar-scale;
      }

      img, svg {
        max-width: $logo-bar-scale * 8;
        height: $logo-bar-scale;
        max-height: $logo-bar-scale * 1.25;

        &[src*="flask.svg"] {
          max-height: $logo-bar-scale * 1.25;
        }

        &[src*="grpc"] {
          margin-right: 10px;
        }

        &[src*="instana"] {
          max-height: $logo-bar-scale * 0.8;
        }

        &[src*="datadog.png"] {
          max-height: $logo-bar-scale * 1.3;
          height: $logo-bar-scale + 8;
        }

        &[src*="finagle"] {
          max-height: $logo-bar-scale * 1.1;
        }

        &[src*="elastic.png"] {
          max-height: $logo-bar-scale * 1.5;
          height: $logo-bar-scale + 8;
        }
      }
    }
  }

  @media (max-width: $medium) {
    &__logos {
      max-width: 100%;
      width: 100%;
      min-height: 65px;

      &:before {
        font-size: 1.4rem;
        text-align: center;
        width: 100%;
        top: 0px;
        left: 0px;
      }


      a {
        min-width: 25%;

        &[href*="tracer"],
        &[href*="dropwizard"] {
          font-size: $logo-bar-scale * 0.7;
        }

        img, svg {
          max-width: 100%;
          height: $logo-bar-scale;
          max-height: $logo-bar-scale * 1.25;

          &[src*="flask.svg"] {
            max-height: $logo-bar-scale * 1.25;
          }

          &[src*="instana"] {
            max-height: $logo-bar-scale * 0.6;
          }

          &[src*="finagle"] {
            max-height: $logo-bar-scale * 1.1;
          }
        }
      }
    }
  }
}
